*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", serif;
    font-style: normal;
}

header{
    font-size: .8rem;
    padding-right: 100px;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
header, h1{
    margin: 10px 10px 10px 1px;
    color: #11175E;
}

input{
    margin: 4px;
    padding: 12px 4px;
    border: 1px solid #6464645b;
    border-radius: 6px;
    outline: none;
    width: 206px;
}
p{
    margin-left: 10px;
}
textarea{
    resize: none;
    border: none;
    outline: none;
    overflow: hidden;
    font-size: 16px;
    height: 25px;
    padding: 10px 20px 0px 15px;
    font-weight: 500;
    color: #001747;
}
#wrapper {
    width: 100%;
    min-height: 100vh;
    background: #F5F9FF;
    padding: 10px;
}
#div-wrapper{
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border: 2px solid #6464642f;
    border-radius: 8px;
}



#add-task-btn{
    padding: 13px 15px;
    border: none;
    outline: none;
    background-color: #2D70FD;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
}


#todo-list{
    list-style-type: none;
    padding: 10px 30px 10px 10px;
    width: 500px;
}

.todo{
    display: flex;
    border: 1px solid #6464642f;
    border-radius: 8px;
    margin:8px 0px 0px;
    justify-content: space-between;
    
}
.trash-btn{
    outline: none;
    border: none;
    cursor: pointer;
    margin: 0;
    width: 40px;
}

.complete-btn{
    background: #fff;
    padding: 18px;
    margin: 30px 1px 12px 35px;
    width: 100px;
    height: 30px;
    outline: none;
    border: none;
    cursor: pointer;
    background-image: url(images/unchecked.svg);
    background-repeat: no-repeat;
    background-size: cover;    

}

.checked{
    background-image: url(images/checked.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
    padding: 15px 15px 16px 15px;
    margin:30px 1px 1px 90px;
    
}

.todo-item {
    padding-top: 4px;
}

.completed-line{
    text-decoration: line-through;
    color: #64646483;
}

.completed-check{
    color: #6464648c;
}

.tag{
    background-color: #fff;
    border: 2px solid #7979791f;
    color: #64646483;
    border-radius: 8px;
    padding: 0px 8px 3px 8px;
}
.sub-info-container{
    margin: 15px 1px 15px 1px;
    flex-direction: row;
    display: flex;
}
.date{
    padding: 2.5px 2px;
    color: #64646483;
}
@media only screen and (max-width:767px){
    #div-wrapper{
        padding-bottom: 10px;
        padding-left:10px;
        padding-top: 10px;
        display: block;
        text-align: center;
        align-items: center;
        justify-content: center;
        width: 600px;
    }
    h1{
        font-size: 50px;
    }
    header{
        padding-right:50px;
        width: 476px;
    }
    textarea{
        font-size: 30px;
        height: 50px;
    }
    #info-container{
        display:block;
        width: 206px;
    }
    #input-description{
        margin: 10px;
        font-size: 25px;
        width: 500px;
        padding: 25px;
    }
    #input-tag{
        margin: 10px;
        padding: 25px;
        width: 500px;
        font-size: 25px;
    }
    #add-task-btn{
        width: 500px;
        font-size: 25px;
        margin: 10px;
        padding: 25px;
    }
    #todo-info{
        display: block;
        width: 50px;
        height: 150px;
        padding-left: 30px;
    }
    #todo-list{
        text-align: center;
        justify-content: center;
        align-items: center;
        padding: 0;
    }
    .todo-item{
        width: 50px;
    }
    .todo{
        display: block;
        margin: 10px;
        width: 500px;
    }
    .complete-btn{
        margin:10px;
        width: 208px;
        padding: 35px;
        height: 75px;
    }
    .trash-btn{
        width: 100px;
        height: 90px;
        font-size: 30px;
        background-color: #fff;
    }
    .checked{
        width: 70px;
        height: 71px;
        padding:30px
        
    }
    .sub-info-container{
        display: block;
        height: 100px;
    }
    .tag{
        font-size: 20px;
        width: 50px;
        height: 30px;
        margin-left: 25px;
        padding: 0;
    }
    .date{
        font-size: 20px;
        width: 300px;
        margin: 0;
        padding-right:50px;
        height: 50px;
    }

}